<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petervalencic.mpbwidget">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name="MBPWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" ></action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>


    <service android:name=".UpdateWidgetService"></service>

</manifest>
